[Unit]
Description=Timelapse Service
After=mosquitto.service

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/USER/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
